@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  @apply bg-colorPrimary;
}


.skills-name {
  @apply text-colorText text-2xl font-semibold text-center capitalize;
}


.skills-animation-wrapper {
  @apply flex gap-40 w-[83%] h-60 mx-auto overflow-hidden;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.scroll-anime {
  animation: scrollLeft 15s linear infinite;
  backface-visibility: hidden;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.project-wrapper {
  @apply flex items-center justify-evenly mx-auto w-[80%] mt-32 pb-24;
}
.project-wrapper-2 {
  @apply flex flex-row-reverse items-center justify-evenly mx-auto w-[80%] mt-32 pb-24;
}


.name {
  @apply text-center text-lg font-semibold
}
